{% extends 'base.html' %}

{% block content %}
<div class="m-5">
    {% if messages %}
        <div class="mx-auto alerts">

            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% elif message.tags == "info" %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    {% endif %}

    <div id="tester" style="width:100%;height:250px;"></div>

    <form id="main_form" method="POST">
        {% csrf_token %}
        <span class="fs-2 p-2">Sensor Details</span>
        
        <hr>
        <div class="d-flex flex-column m-3 p-3">
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_name.id_for_label}}">Sensor Name</label>
                    {{form.sensor_name}}
                </div>
            
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_type.id_for_label}}">Sensor Type</label>
                    {{form.sensor_type}}
                </div>
            </div>
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.key.id_for_label}}">API Key</label>
                    {{form.key}}
                </div>
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_group.id_for_label}}">Sensor Group</label>
                    {{form.sensor_group}}
                </div>
            </div>
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_description.id_for_label}}">Sensor Description</label>
                    {{form.sensor_description}}
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex flex-row mt-4 ms-3">
        <div>
            <a href="{% url 'dash:sensor_dashboard' %}"><button class="mx-2 btn btn-outline-primary">Back</button></a>
        </div>
    </div>
</div>

<script>

    //helper
    function getData(){
        return Math.random();
    }

    //on load
	main_chart = document.getElementById('tester');
	Plotly.newPlot(main_chart, [{
	y: [getData()]}], {
	margin: { t: 0 } } );

    //on intervals
    setInterval(function(){
        Plotly.extendTraces(main_chart, {y:[[getData()]]}, [0])
    }, 1000)
</script>
{% endblock content %}