{% extends 'base.html' %}

{% block content %}
<div class="m-5">
    {% if messages %}
        <div class="mx-auto alerts">

            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% elif message.tags == "info" %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    {% endif %}

    <form id="main_form" method="POST">
        {% csrf_token %}
        <span class="fs-2 p-2">Sensor Details</span>
        
        <hr>
        <div class="d-flex flex-column m-3 p-3">
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.key.id_for_label}}">API Key</label>
                    {{form.key}}
                </div>
            </div>
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_name.id_for_label}}">Sensor Name</label>
                    {{form.sensor_name}}
                    {% if form.sensor_name.errors %}
                        <span class="text-danger block mt-1">{{form.sensor_name.errors}}</span>
                    {% endif %}
                </div>
            
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_type.id_for_label}}">Sensor Type</label>
                    {{form.sensor_type}}
                    {% if form.sensor_type.errors %}
                        <span class="text-danger block mt-1">{{form.sensor_type.errors}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_group.id_for_label}}">Sensor Group</label>
                    {{form.sensor_group}}
                    {% if form.sensor_group.errors %}
                        <span class="text-danger block mt-1">{{form.sensor_group.errors}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row flex-fill">
                <div class="m-3 flex-fill">
                    <label class="form-label fs-5" for="{{form.sensor_description.id_for_label}}">Sensor Description</label>
                    {{form.sensor_description}}
                    {% if form.sensor_description.errors %}
                        <span class="text-danger block mt-1">{{form.sensor_description.errors}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex flex-row mt-4 ms-3">
        <div>
            <a href="{% url 'dash:sensor_dashboard' %}"><button class="mx-2 btn btn-outline-primary">Back</button></a>
        </div>
        <div>
            <input form="main_form" type="submit" class="btn btn-outline-success">
        </div>
    </div>
</div>
{% endblock content %}